<!-- <h1 class="header">我是 header</h1>
<a href="index.html">index</a>
<a href="about.html">about</a>
<a href="contact.html">contact</a> -->

<nav class="border-bottom border-primary border-3 mb-md-32 mb-16">
    <div class="container d-flex  align-items-center flex-wrap ">
        <div class="d-flex py-24 align-items-center justify-content-between ">
            <a href="index.html">
                <img src="/assets/images/logo.png" alt="" style="width:53px;" class="d-lg-block d-none">
                <img src="/assets/images/logo.png" alt="" style="width:40px;" class="d-lg-none d-block">
            </a>
            <h1 class="h4 ms-16 mb-0 d-lg-block d-none">7TAO</h1>
            <h2 class="fs-7 ms-1 fw-bold mb-0 d-lg-block d-none">活動訂票網</h2>
            <form class="d-lg-flex d-none ms-48 " style="max-width: 335px;">           
                <input class="form-control border-primary" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary " type="submit">
                    <i class="icofont-search-1"></i>
                </button>
            </form>

            <form class="d-flex d-lg-none ms-24" style="max-width: 207px;">
                <input class="form-control border-primary" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary " type="submit">
                    <i class="icofont-search-1"></i>
                </button>
            </form>
        </div>

        <div class="d-lg-flex align-items-center ms-auto d-none">
            <a href="#" class="d-flex text-decoration-none ">
                <i class="icofont-ui-file"></i>
                <p class="h6 me-24 ms-1 mb-0">REGISTER</p>
            </a>
            
            <a href="#" class="d-flex text-decoration-none">
                <i class="icofont-ui-user"></i>
                <p class="h6 ms-1 mb-0">LOGIN</p>
            </a>
            
        </div>

        <!-- hamberger -->
        <div class="navbar navbar-primary  ms-auto bg-background d-lg-none d-block">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#hamburger" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>           
        </div>
    </div>

    <div class="collapse" id="hamburger">
        <div class="bg-background py-24 border-top border-primary border-3">
            <div class="d-flex flex-column container  ">
                <a href="" class="d-flex mb-16 text-decoration-none">
                    <i class="icofont-ui-file"></i>
                    <p class="h6 ms-1 mb-0 ">REGISTER </p>
                </a>
    
                <a href="" class="d-flex text-decoration-none">
                    <i class="icofont-ui-user"></i>
                    <p class="h6 ms-1 mb-0">LOGIN</p>
                </a>
            </div>
        </div>
    </div>


</nav>
