<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>signle page</title>
    <link rel="stylesheet" href="../assets/icofont/icofont.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <%- include('./layout/header'); -%>

    <div class="container pb-60">
        <!-- banner -->
        <div class="row g-4 mb-24 d-lg-flex d-none">

            <div class="col-lg-10 col-12">
                <div class="border border-primary border-3 ">
                    <img src="/assets/images/event/09.jpg" alt="" class="img-fluid p-24 ">
                </div>
            </div>

            <div class="col-lg-2 col-12 d-lg-block d-flex justify-content-evenly  ">
                <h2 class="fs-3 py-32 text-center border border-primary border-3 mb-24 px-lg-0 px-24">2023</h2>
                <div class="border border-primary border-3 py-lg-48 py-0 ">
                    <!-- desktop -->
                    <h2 class="fs-3 text-center py-24 d-lg-block d-none">
                        MAY <br>
                        19 <br>
                        <img src="/assets/images/Line 6.png" alt=""  class="img-fluid my-lg-24 my-20" > <br>
                        12:00 <br>
                        | <br>
                        20:00 <br>
                    </h2>
                    <!-- moble -->
                    <!-- <h2 class="fs-5 text-center py-24 d-lg-none mb-0 d-flex align-items-ceneter">
                        <div class="px-24">
                            MAY <br>
                            19
                        </div>
                        <img src="/assets/images/Line 6.png" alt="" class="img-fluid  px-32 " style="width: 100px">
                        <div class="px-24 fs-7">
                            12:00 <br>
                            | <br>
                            20:00
                        </div>
                    </h2> -->
                </div>
            </div>

        </div>
        <!-- pad+moble -->
        <div class="row d-lg-none d-block mb-2">
            <div class="col-12">
                <div class="border border-primary border-3">
                    <img src="/assets/images/event/09.jpg" alt="" class="img-fluid p-12 ">
                </div>               
            </div>
         </div>  


        <div class="row mt-md-16  d-lg-none d-flex mb-24">
            <div class="col-4">
                <h2 class="fs-4 border border-primary border-2 py-24 text-center mb-0">2023</h2>
            </div>

            <div class="col-8 border border-primary border-2 d-flex d-flex justify-content-evenly  align-items-center ">
                <div class="fs-5 text-center d-flex flex-column "> 
                    <p class="mb-0">MAY</p> 
                    <p class="mb-0">19</p>
                </div>
                <img src="/assets/images/Line 6.png" alt="" class="img-fluid h-50 px-32">
                <div class="fs-7 text-center d-flex flex-column">
                    <p class="mb-0">12:00</p>
                    <p class="mb-0">|</p>
                    <p  class="mb-0">20:00</p>
                </div>
            </div>

        </div>

       


        <!-- content -->
        <h1 class="h2 mb-md-16 mb-2 fw-bold">返老還童-制服聯誼</h1>
        <h3 class="fs-5 mb-24">穿上制服，無年齡限制，一起走上街頭、尋找青春才有的純愛心動！</h3>
        <div class="d-md-flex d-none d-none mb-md-48">
            <div class="border-start border-3 border-primary me-2">
                <a href="#" class="text-decoration-none">
                     <p class="py-1 px-24 mb-0 fw-bold border border-primary">聯誼</p>
                </a>           
            </div>
            <div class="border-start border-3 border-primary me-2">
                <a href="#" class="text-decoration-none">
                    <p class="py-1 px-24 mb-0 fw-bold border border-primary">美食</p>
                </a>
            </div>
            <div class="border-start border-3 border-primary me-2">
                <a href="#" class="text-decoration-none">
                    <p class="py-1 px-24 mb-0 fw-bold border border-primary">戶外</p>
                </a>
            </div>
            <div class="border-start border-3 border-primary me-2">
                <a href="#" class="text-decoration-none">
                    <p class="py-1 px-24 mb-0 fw-bold border border-primary">交通旅遊</p>
                </a>
            </div>
        </div>

        <div class="border border-primary border-3 p-md-32 p-16 mb-md-48 mb-24">
            <p class="mb-16">想回到過去？試著讓故事繼續？</p>
            <p class="mb-16">由戀愛家教「艾德溫」主辦策劃，讓各位在安排好的青春行程中擁有自然的純愛互動體驗，互相餵食餅乾、觀察對方手相，有趣的互動環節讓你/妳怦然心動！制服由主辦方提供，妝髮造型可額外加價購！</p>
            <p class="mb-16">活動中全程會有隨行攝影師，捕捉你們的純愛互動，拍攝成實境電視劇，讓你們能留下永恆的美好回憶&lt;3</p>
        </div>

        <div class="border border-primary border-3 py-md-24 px-md-32 py-16 px-12 mb-16 d-flex justify-content-between align-items-center">
            <h2 class="fs-1 mb-0">TICKET</h2>
            <h3 class="fs-4 mb-0">購票資訊</h3>
        </div>

        <table class="table border-primary ">
            <thead>
                <tr >
                    <th scope="col" class="fw-bold">活動日期</th>
                    <th scope="col">票種</th>
                    <th scope="col">票價</th>
                    <th scope="col" class="text-end pe-md-72 ">購票</th>
                </tr>
            </thead>
            <tbody>
                <tr class="">
                    <th scope="row" class="fw-normal fs-8">2023/5/12</th>
                    <td class="fs-8">普通票</td>
                    <td class="fs-8 noto">$600</td>
                    <td class="text-end d-md-block d-none"><a href="#" class="text-decoration-none border border-primary border-2 py-2 px-24 ">立即購票</a></td>
                    <td class="text-end d-md-none d-block fs-8"><a href="#" class="text-decoration-none border border-primary border-2 py-2 px-sm-12 px-1">購票</a></td>
                </tr>
                <tr>
                    <th scope="row" class="fw-normal fs-8">2023/5/12</th>
                    <td class="fs-8">改頭換面票(含大改造)</td>
                    <td class="fs-8 noto">$3600</td>
                    <td class="text-end d-md-block d-none"><a href="#" class="text-decoration-none border border-primary border-2 py-2 px-24 ">立即購票</a></td>
                    <td class="text-end d-md-none d-block fs-8"><a href="#" class="text-decoration-none border border-primary border-2 py-2 px-sm-12 px-1">購票</a></td>
                </tr>
                <tr>
                    <th scope="row" class="fw-normal fs-8">2023/5/12</th>
                    <td class="fs-8">必勝票(含戀愛小抄)</td>
                    <td class="fs-8 noto">$8000</td>
                    <td class="text-end d-md-block d-none"><a href="#" class="text-decoration-none border border-primary border-2 py-2 px-24 ">立即購票</a></td>
                    <td class="text-end d-md-none d-block fs-8"><a href="#" class="text-decoration-none border border-primary border-2 py-2 px-sm-12 px-1">購票</a></td> 
                </tr>
            </tbody>
        </table>


    </div>





     <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
</body>

</html>